<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link href="{{ url_for('static',filename='css/form.css')}}" rel="stylesheet" type="text/css">
  <link rel="shortcut icon" href="{{ url_for('static',filename='img/Logo.png')}}">
  <!-- CSS boostrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body class="img-fluid">
  <header class="container-fluid g-0">
    {%with messages = get_flashed_messages(with_categories=true)%}
        {%if messages %}
            {%for category, message in messages%}
                <div class="alert {{category}} alert-dismissible fade show text-center" role="alert">
                    <!-- desplega el mensaje -->
                    {{message}}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {%endfor%}
        {%endif%}
    {%endwith%}
    </header>
  <div class="Contenedor vh-100">
        
          <div class="card">         
            <div class="card-body">
              
              <form action="/account/login" method="POST" class="form-group">
                
              <h2 class="text-center text-light text-uppercase">Iniciar sesión</h2>

              <div class="Datos_request">
                <input type="text" name="email" class="text-light" maxlength="200" required id="id_email" autocomplete="off">
                <span></span>
                <label for="id_username">Email</label>
              </div>
              
              <div class="Datos_request">
                <input type="password" name="password"  class="text-light" maxlength="16" required id="id_password">
                <span></span>
                <label for="id_Password">Contraseña</label>
              </div>

    
              <div class="btn1 text-center">
                <button type="submit" class="btn btn-primary btn-lg ">Acceder</button>
              </div>

              <div class="link_ref">
                No es un miembro? <a href="/account/register">Crear Cuenta</a>
              </div>
              </form> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</html>
